#main {
  margin: 0 auto;
  padding: 0px 150px;
}

@media (max-width: 1080px) {
  #main {
    padding: 0px 100px;
  }
}

@media (max-width: 768px) {
  #main {
    padding: 0px 50px;
  }
}

@media (max-width: 480px) {
  #main {
    padding: 0px 25px;
  }
}
