@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Inter:wght@200;600;800&family=Jost:wght@300;400;500;700&family=Lato:wght@400;700&family=Mohave:wght@400;500;600&family=Oswald:wght@400;500;700&family=Shadows+Into+Light&family=Ubuntu:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body[data-theme="light"] {
  --text: #0f0e25;
  --text-alt: #2a2767;
  --background: #e2e1f4;
  --primary: #2f2a74;
  --secondary: #d4d2ef;
  --accent: #4941b4;
  --shadow: #403ca0;
}

body[data-theme="dark"] {
  --text: #dbdaf1;
  --text-alt: #9a97d7;
  --background: #0c0b1e;
  --primary: #908bd5;
  --secondary: #12102d;
  --accent: #534bbe;
  --shadow: #403ca0;
}

:root {
  font-family: 'Epilogue', sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --white: #dbdaf1;
  --dark-purple: #12102d; 

  --fadeup: fadeup 300ms forwards;
}

@keyframes fadeup {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  transition: background 0.2s ease, color 0.2s ease;
  background-color: var(--background);
	color: var(--text);
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

button:focus {
  outline: none;
}

body, #root {
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 10px;
  font-weight: 600;
  line-height: 1.1;
}

section {
  padding: 100px 0;
}